<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div id="app">
			
			 
			<!-- 单选框 -->
			<!-- <label for="agree">
				<input type="checkbox" id = "agree" v-model="isAgree" />同意协议
			</label>
			<h2>您的选择是: {{isAgree}}</h2>
			<button :disabled="!isAgree">下一步</button> -->
			
			<!-- 多选框 -->
			<input type="checkbox" value="唱" v-model="hobbies" />唱
			<input type="checkbox" value="跳" v-model="hobbies" />跳
			<input type="checkbox" value="rap" v-model="hobbies" />rap
			<input type="checkbox" value="篮球" v-model="hobbies" />篮球
			<h2>我喜欢{{hobbies}}</h2>
		</div>
		<script src="../js/vue.js"></script>
		<script>
			const app = new Vue({
				el: "#app",
				data: {
					isAgree: false,
					hobbies: []
				}
			})
		</script>
	</body>
</html>
